@charset "UTF-8";

body {
	background: #efefef;
	font-family: arial;
	font-size: 18px;
}

.navBar {
	display: flex;
	justify-content: center;
	align-items: centre;
}

#cartButton {
/* 	display: none; */
}

.section {
	color: white;
	margin-right: 50px;
	text-decoration: none;
}

.sectionButton {
	color: white;
	margin-right: 50px;
	text-decoration: none;
	display: inline-block;
	outline: none; /* Для синий ободки */
	border: 0;
	font-size: 28px;
	background: transparent;
}

#logo {
	width: 95px;
	padding-left: 10px;
	padding-top: 5px;
}

.header {
	background: black;
	height: 165px;
	color: white;
}

.header-fixed {
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	font-size: 14px;
	position: fixed;
	line-height: 40px;
	height: 65px;
	text-indent: 20px;
	width: 100%;
	color: black;
	background: white;
}

.registration {
	text-decoration: none;
	text-align: right;
}

.logIn {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.signIn {
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.header-notFixed {
	line-height: 220px;
	text-align: center;
	font-size: 28px;
}

.header-notFixed p {
	/*  	z-index: 9999;*/
	position: relative;
}

.header-popUp {
	line-height: 95px;
	text-align: center;
	color: #000000;
	font-size: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #C4C4C4;
	height: 95px;
	width: 85%;
	font-weight: bold;
	border-bottom: 3px solid #eb5e0b;
}