@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	min-height: 100vh;
	position: relative;
}

.place {
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	display: flex;
}

.cart {
	margin-left: 10px;
	margin-bottom: 60px;
	padding: 10px;
}

table {
	border-collapse: collapse;
	line-height: 1.1;
}

.titleName {
	text-align: left;
	border: none;
}

tr {
	border-bottom: 2px solid #374045;
}

th {
	font-size: 23px;
	padding: 10px 25px;
}

td {
	text-align: center;
	font-size: 20px;
	padding: 5px 15px;
}

.first {
	display: flex;
}

.contentName {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
}

.first p {
	padding-bottom: 5px;
}

.brandF {
	display: inline;
}

.productImg {
	height: 115px;
}

.numberInput {
	width: 55px;
}

.deleteButton {
	font-weight: bold;
	font-size: 25px;
	color: #eb5e0b;
}

.totalAmount {
	background: #cdd0cb;
	margin-left: auto;
	margin-right: 30px;
}

.blockAmount {
	padding: 10px;
}

.amount {
	font-size: 25px;
	padding-bottom: 10px;
}

.totalPrice {
	font-size: 23px;
	color: black;
	padding-top: 10px;
	padding-bottom: 30px;
}

.formButton {
	display: flex;
	align-items: center;
	justify-content: center;
}

.payButton {
	font-size: 18px;
	font-weight: bold;
	background-color: #eb5e0b;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
}