<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="MyFile" fileName="logs/log.txt">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="by.matmux.service" level="debug"
			additivity="false">
			<AppenderRef ref="MyFile" />
		</Logger>
		<Logger name="by.matmux.controller" level="debug"
			additivity="false">
			<AppenderRef ref="MyFile" />
		</Logger>
		<Logger name="by.matmux.dao" level="debug"
			additivity="false">
			<AppenderRef ref="MyFile" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>